!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.tags,
                description: current_page.data.description })

  %body.home
    = partial('header')

    .row.content
      %section
        %header
          %h1 About Me

        %img.profile-photo{ src: '/images/profile_photo.jpg',
          width: '150', alt: 'Profile Photo' }

        = yield

        %h2#header-articles Articles

        = partial('articles', locals: { articles: blog('blog').articles })

        %h2#header-notes Notes

        %p
          A collection of notes on various topics. These notes are primarily
          meant for myself, and published here so I don't lose track of them
          over time.

        = partial('articles', locals: { articles: blog('notes').articles })
