!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.tags,
                description: current_page.data.description })

  %body.home
    = partial('header')

    .row.content
      %section
        %header
          %h1 About Me

        %img.profile-photo{ src: '/images/profile_photo.jpg',
          width: '150', alt: 'Profile Photo' }

        = yield

        %h2 Articles

        %table.articles-index
          %tbody
          - blog.articles.each do |article|
            %tr
              %td.time
                %time{ datetime: article.date.to_time.utc.iso8601 }
                  = article.date.to_time.utc.strftime('%b %e, %Y')
              %td
                %a{ href: article.url, title: article.title }= article.title
