%meta(charset="utf-8")

%meta(name="google-site-verification" |
content="-L_V_27r8NmVJh-1OGyEhGcNVulPnxjfbma6m3SqNME")

%meta(name="viewport" content="width=device-width, initial-scale=1.0")

%link(rel="alternate" href="#{config[:feed_url]}" |
type="application/atom+xml" title="#{config[:title]}")

%link(rel="canonical" href="#{@canonical ? @canonical : config[:base_url]}")

- if @keywords
  %meta(name="keywords" content="#{@keywords.join(',')}")

- if @description
  %meta(name="description" content="#{@description.strip}")

%link(rel="icon" href="/favicon.ico" type="image/x-icon")

%link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway")

%link(rel="stylesheet" href="/stylesheets/application.css")

<!--[if lt IE 9]>
%script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
<![endif]-->

%title= @page_title ? @page_title : config[:title]
