<meta charset="utf-8" />

<meta name="google-site-verification"
content="-L_V_27r8NmVJh-1OGyEhGcNVulPnxjfbma6m3SqNME" />

<link rel="alternate" href="http://yorickpeterse.com/articles/atom"
type="application/atom+xml" title="<%= config[:title] %>" />

<link rel="canonical" href="<%= @canonical ? @canonical : config[:base_url] %>" />

<% if @keywords %>
<meta name="keywords" content="<%= @keywords.join(',') %>" />
<% end %>

<% if @description %>
<meta name="description" content="<%= @description %>" />
<% end %>

<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<% if config[:minify] %>

<link rel="stylesheet" href="/css/minified.css" />

<% else %>

<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/github.css" />
<link rel="stylesheet" href="/css/style.css" />

<% end %>

<script type="text/javascript" src="/js/highlight.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title><%= @page_title ? @page_title : config[:title] %></title>
