!!!
%html(lang="en")
  %head
    = render('_head',
      :keywords    => item[:keywords],
      :description => item[:description])

  %body#home
    = render('_header')

    #content.row
      %section
        %header
          %h1= item[:title]

        = yield

        %h2 Articles

        %ul.plain
          - sorted_articles.each do |article|
            %li
              = link_to(article[:title], article.path, :title => article[:title])
